* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  color: #fff;
  background-image: url(images/table.jpg);
  background-size: cover;
}

.main {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main h1 {
  color: goldenrod;
  font-size: 3rem;
  margin-bottom: 25px;
}

.main h1 + h3 {
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 25px;
}

.main p {
  font-size: 1.5rem;
  margin-bottom: 25px;
}

.main button {
  width: 200px;
  height: 40px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #0e6d29;
  background-color: goldenrod;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease;
}

.main button:hover {
  transform: scale(1.025);
}

.main #player-el {
  margin-top: 25px;
}
